.calendar .calendar-today,
.calendar .calendar-today:hover,
.calendar .calendar-today:focus,
.calendar .calendar-today:active,
.calendar .calendar-today:selected,
.calendar .calendar-today:active:hover,
.calendar .calendar-today:active:focus,
.calendar .calendar-today:selected:hover,
.calendar .calendar-today:selected:focus,
.quick-toggle-menu .header .icon.active,
.quick-toggle:checked,
.quick-toggle:checked:focus,
.quick-toggle:checked:hover,
.quick-toggle:checked:focus,
.quick-toggle:checked:active
{ background-color: rgb(231, 153, 63) !important; box-shadow: none; }

.quick-toggle:checked:insensitive { background-color: rgb(231, 186, 63); }

.calendar .calendar-day-base{ box-shadow: none; }

.quick-slider .slider-bin:focus:hover,
.quick-slider .slider-bin:focus:active,
.quick-slider .slider-bin:focus,
#LookingGlassDialog > #Toolbar .lg-toolbar-button:focus:hover,
.app-folder-dialog .folder-name-container .edit-folder-button:focus:hover,
.button:focus:hover,
#LookingGlassDialog > #Toolbar .lg-toolbar-button:focus:active,
.app-folder-dialog .folder-name-container .edit-folder-button:focus:active,
.button:focus:active,
.login-dialog .modal-dialog-button:default:focus,
.modal-dialog .modal-dialog-linked-button:focus,
.hotplug-notification-item:focus,
.notification-banner .notification-button:focus,
.modal-dialog .modal-dialog-linked-button:focus:active,
.hotplug-notification-item:focus:active,
.notification-banner .notification-button:focus:active
{ box-shadow: inset 0 0 0 2px rgb(231, 158, 63) !important; }

.slider { -barlevel-active-background-color: rgb(231, 164, 63); }

.quick-toggle:checked:hover, .quick-toggle:checked:focus { background-color: rgb(63, 141, 231); box-shadow: inset 0 0 0 9999px rgba(255,255,255, 0.1); }

StEntry { selection-background-color: rgb(181, 231, 63); }

StEntry:focus { border-color: rgb(63, 141, 231);}

.modal-dialog .modal-dialog-linked-button,
.hotplug-notification-item,
.notification-banner .notification-button,
.modal-dialog .modal-dialog-linked-button:focus,
.hotplug-notification-item:focus,
.notification-banner .notification-button:focus,
.calendar .calendar-day-base:hover,
.calendar .calendar-day-base:focus
{ background-color: rgba(255,255,255, 0.1); }

.modal-dialog .modal-dialog-linked-button:focus:hover,
.hotplug-notification-item:focus:hover,
.notification-banner .notification-button:focus:hover,
.modal-dialog .modal-dialog-linked-button:hover,
.hotplug-notification-item:hover,
.notification-banner .notification-button:hover,
.calendar .calendar-day-base:active:focus,
.calendar .calendar-day-base:selected:focus{background-color: rgba(255,255,255, 0.15);}

.modal-dialog .modal-dialog-linked-button:active,
.hotplug-notification-item:active,
.notification-banner .notification-button:active,
.modal-dialog .modal-dialog-linked-button:checked,
.hotplug-notification-item:checked,
.notification-banner .notification-button:checked,
.modal-dialog .modal-dialog-linked-button:checked:hover,
.hotplug-notification-item:checked:hover,
.notification-banner .notification-button:checked:hover,
.modal-dialog .modal-dialog-linked-button:checked:active,
.hotplug-notification-item:checked:active,
.notification-banner .notification-button:checked:active,
.calendar .calendar-day-base:active,
.calendar .calendar-day-base:selected
{background-color: rgba(255,255,255, 0.2);}

.modal-dialog .modal-dialog-linked-button:insensitive, .hotplug-notification-item:insensitive, .notification-banner .notification-button:insensitive { background-color: rgba(255,255,255, 0.05); }

  #panel { 
    min-height: 48px;    
    background: rgb(255,203,203);                           			/* bar size*/    
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,203,203,1);
    background-gradient-end: rgba(232,49,49,1);
    border-color: rgba(0,0,0,0.2);
    border-radius: 15px;
    /*background-image: linear-gradient(to bottom, #d6d6d6, #c3c3c3, #b0b0b0, #9e9e9e, #8c8c8c);
*/
box-shadow: 0 5px 10px rgba(45, 0, 0, 0.75);
} 
#panel .panel-button:hover{color: #ffffff;    		/*top bar button hover text*/
	text-shadow:1px;
/*  background-gradient-direction: vertical;
    background-gradient-start: rgba(0,0,0,0.2);
    background-gradient-end: rgba(0,0,0,0.2);
    border-color: rgba(0,0,0,0.2);*/ 
         background-color: rgba(60, 60, 60,0.5); 				/*top bar button hover background*/
    text-shadow: none;}
    #panel .panel-button:overview:hover {
            color: white;
            text-shadow:none;
            icon-shadow:none;    }
        #panel .panel-button:active, #panel .panel-button:overview, #panel .panel-button:focus, #panel .panel-button:checked {
            background-color: rgba(110,110,110,0.6);        			/* top bar click color*/
       	    box-shadow: inset 0 0 0px black;					/* top bar click border*/
            background-image: none;
            background-gradient-direction: none;
            color: white;
            text-shadow:none;
            icon-shadow:none; }

            #overview {
              background: url(6.png);
              background-repeat: repeat;
            }

          .search-entry {
            width: 320px;
            border: 3px;
            caret-color: #00aabb;
            caret-size: 1px;
            padding: 7px 9px;
            border-radius: 2px;
            box-shadow: 0 2px 8px 0 rgba(0,0,0,0.9);
        }
        .search-entry:hover {
            background-color: rgba(255,255,255,0.2);
            box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
            transition-duration: 200ms;
        }
        .search-entry:focus {
            background-color: white;
            color: #000;
            box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
            transition-duration: 200ms;
        }
        .search-entry .search-entry-icon {
            icon-size: 1em;
            padding: 0 4px;
            color: #00aabb;
        }
        .search-entry:hover .search-entry-icon {
            color: #00aabb;
        }
        .search-entry:focus .search-entry-icon {
            color: #777;
        }
#dash {	background-color: transparent;

}
      
 #dash .dash-background {
	box-shadow: inset 0 0 10px 4px rgba(0, 0, 0, 0.3);
	background-color: rgba(70,70,70,0.5);
	border-radius: 30px;
	transition-duration: 250ms;
	background-image: url(button.png);
         background-size: cover;
         background-repeat: round;
}

/* if used Dash to Dock extension */
#dashtodockContainer #dash .dash-background {
	box-shadow: inset 0 0 10px 4px rgba(0, 0, 0, 0.3);
	background-color: rgba(70,70,70,0.5);
	border-radius: 30px;
	transition-duration: 250ms;
	background-image: url(button.png);
         background-size: cover;
         background-repeat: round;
}

/* when dash in overview */
#dashtodockContainer.overview #dash .dash-background {
	box-shadow: inset 0 0 10px 4px rgba(0, 0, 0, 0.3);
	background-color: rgba(70,70,70,0.5);
	transition-duration: 250ms;
	background-image: url(button.png);
         background-size: cover;
         background-repeat: round;
}

#dash .overview-icon {
background: transparent;
box-shadow: none;

}
/* ubuntu fix */
#dashtodockContainer.bottom.extended #dash .dash-background,
#dashtodockContainer.bottom.extended.dashtodock #dash .dash-background,
#dashtodockContainer.bottom.extended.shrink #dash .dash-background,
#dashtodockContainer.top.extended #dash .dash-background,
#dashtodockContainer.top.extended.dashtodock #dash .dash-background,
#dashtodockContainer.top.extended.shrink #dash .dash-background,
#dashtodockContainer.left.extended #dash .dash-background,
#dashtodockContainer.left.extended.dashtodock #dash .dash-background,
#dashtodockContainer.left.extended.shrink #dash .dash-background,
#dashtodockContainer.right.extended #dash .dash-background,
#dashtodockContainer.right.extended.dashtodock #dash .dash-background,
#dashtodockContainer.right.extended.shrink #dash .dash-background {
	background-color: transparent;
}
.overview-icon {
	 padding: 5px 5px 5px 5px;
}
    /* Menu de apps seleccionado */

    .app-well-app .overview-icon,
    .app-well-app.app-folder .overview-icon,
    .show-apps .overview-icon,
    .grid-search-result .overview-icon {
      transition: 0.5s;
border-radius: 20px;
padding: 5px 5px 5px 5px;
transition-duration: 100ms;
    }

    .app-well-app:active .overview-icon, .app-well-app:checked .overview-icon,
.app-well-app.app-folder:active .overview-icon,
.app-well-app.app-folder:checked .overview-icon,
.show-apps:active .overview-icon,
.show-apps:checked .overview-icon,
.grid-search-result:active .overview-icon,
.grid-search-result:checked .overview-icon {
    	 background-gradient-direction: radial;
	 background-gradient-start: rgba(50,50,50,0.75);
	 background-gradient-end: rgba(0,0,0,0.75);
	 border-radius: 20px;
}

.app-well-app:hover .overview-icon, .app-well-app:focus .overview-icon, .app-well-app:selected .overview-icon,
.show-apps:hover .overview-icon,
.show-apps:focus .overview-icon,
.show-apps:selected .overview-icon,
.grid-search-result:hover .overview-icon,
.grid-search-result:focus .overview-icon,
.grid-search-result:selected .overview-icon {
    	 background-gradient-direction: radial;
	 background-gradient-start: rgba(90,90,90,0.6);
	 background-gradient-end: rgba(30,30,30,0.7);
	 border-radius: 20px;
}
.app-well-app:focus, .app-well-app.app-folder:hover .overview-icon,
.app-well-app.app-folder:focus .overview-icon,
.app-well-app.app-folder:selected .overview-icon {
    	 background-gradient-direction: radial;
	 background-gradient-start: rgba(60,60,160,0.7);
	 background-gradient-end: rgba(30,30,30,0.4);

	 border-radius: 20px;
}


.app-well-app-running-dot {
    border-radius: 5px;
    width: 20px;
    height: 4px;
    background-color: blue;
    box-shadow: inset -1px -1px 0 0 rgba(0,0,0,.5);
    margin-bottom: 2px;
}

.search-provider-icon,
.list-search-result, .app-well-app .overview-icon,
.app-well-app.app-folder .overview-icon,
.show-apps .overview-icon,
.grid-search-result .overview-icon {
    color: #dbdee0;
      background-color: rgba(100, 100, 100, 0.6);
	border-radius: 20px;
    padding: 6px;
    border: 1px solid transparent;
    transition-duration: 150ms;
    text-align: center;
}

.app-well-app.app-folder > .overview-icon {
    background-color: rgba(159, 176, 185, 0.2); 
    border-radius: 20px;
  }

.show-apps:checked .show-apps-icon,
.show-apps:focus .show-apps-icon {
    color: white;
    transition-duration: 100ms; }
    
/* Search */
#searchResults {
  margin: 0 4px; }

#searchResultsContent {
  max-width: 1072px; }

.search-section {
  spacing: 18px; }
  .search-section .search-section-separator {
    height: 8px;
    background-color: transparent; }

.search-section-content {
  background-color: rgba(13, 13, 13, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.16);
  border-radius: 24px;
  box-shadow: inset 0 0 0 1px solid rgba(222, 221, 218, 0.07), 0 2px 4px 0 rgba(255, 255, 255, 0.2);
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  color: #f6f5f4;
  padding: 12px;
  margin: 0 12px; }

.list-search-result, .search-provider-icon {
  background-color: transparent;
  border-radius: 11px; }
  .list-search-result:hover, .search-provider-icon:hover {
    background-color: rgba(246, 245, 244, 0.1); }
  .list-search-result:selected, .search-provider-icon:selected, .list-search-result:focus, .search-provider-icon:focus {
    background-color: rgba(246, 245, 244, 0.13); }
    .list-search-result:selected:hover, .search-provider-icon:selected:hover, .list-search-result:focus:hover, .search-provider-icon:focus:hover {
      background-color: rgba(246, 245, 244, 0.16); }
    .list-search-result:selected:active, .search-provider-icon:selected:active, .list-search-result:focus:active, .search-provider-icon:focus:active {
      background-color: rgba(246, 245, 244, 0.13); }
  .list-search-result:active, .search-provider-icon:active {
    background-color: rgba(246, 245, 244, 0.16); }
  .list-search-result:outlined, .search-provider-icon:outlined, .list-search-result:checked, .search-provider-icon:checked {
    background-color: rgba(246, 245, 244, 0.19); }
    .list-search-result:outlined:active, .search-provider-icon:outlined:active, .list-search-result:checked:active, .search-provider-icon:checked:active {
      background-color: rgba(246, 245, 244, 0.22); }
    .list-search-result:outlined:hover, .search-provider-icon:outlined:hover, .list-search-result:checked:hover, .search-provider-icon:checked:hover {
      background-color: rgba(246, 245, 244, 0.25); }
  .list-search-result:drop, .search-provider-icon:drop {
    border: 2px solid rgba(53, 132, 228, 0.8);
    background-color: rgba(53, 132, 228, 0.2); }

.search-statustext {
  color: rgba(246, 245, 244, 0.8); }

.grid-search-results {
  spacing: 30px;
  margin: 0 12px; }

.search-provider-icon:ltr {
  margin-right: 4px; }

.search-provider-icon:rtl {
  margin-left: 4px; }

.search-provider-icon .list-search-provider-content {
  spacing: 12px; }
  .search-provider-icon .list-search-provider-content .list-search-provider-details {
    width: 120px;
    color: #f6f5f4; }

.list-search-results {
  spacing: 6px; }

.list-search-result .list-search-result-content {
  spacing: 6px; }

.list-search-result .list-search-result-title {
  spacing: 12px; }

.list-search-result .list-search-result-description {
  color: #fff; }
.app-folder-dialog {
	border-radius: 30px;
	background-color: rgba(252, 249, 244, 0.7);
	border: 0px;
	padding: 0; /* because of icon grid */
	box-shadow: inset 10 10 10 10px #333;
}


     .popup-menu {
  border-radius: 20px;
   background-color: transparent; /*back color top bar popup*/
    }
    .popup-menu .popup-menu-content {
      border-radius: 20px;
       background-color: rgba(200,50,50,0.8); /*back color top bar popup*/
        }
        .popup-menu .popup-menu-item:checked {
          background-color: #aaaaaa;
          }


